.hiddenColumnsManager {
  display: flex;
  transform-origin: top;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 6px);
  width: 400px;
  max-height: 300px;
  color: black;
  text-shadow: none;
  box-shadow: 0 1px 5px black;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
  z-index: 100000;
  transform: scale(0);

  div {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: 0.1s;

    &.showAllColumns {
      justify-content: center;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }

    &:not(:first-of-type) {
      border-top: 1px solid black;
      box-shadow: 0 0 1px black;
    }

    svg {
      margin-right: 10px;
      color: black !important;
    }

    span {
      text-align: left;
    }
  }
}

.showHiddenColumnsManager {
  transform: scale(1);
  transition: 0.2s;
}
