.applyExtendedFilter {
  width: 20%;
  margin: 5px auto;

  font-weight: bold;
  text-shadow: none;

  border-radius: 5px !important;
  box-shadow: 1px 1px 3px black;

  &:disabled {
    background-color: rgb(0 0 0 / 10%) !important;
    box-shadow: none;
    transition: none;
  }
}
