.uniqueRowsValuesWrapper {
  margin-top: 20px;
  border-top: 1px solid black;

  .maxCountUniqueRowsValues {
    padding: 10px 0;
    border-bottom: 1px solid black;
    color: rgba(255, 0, 0, 0.9);
  }
}

.noResults {
  padding: 10px;
}
