h3,
h4,
h1,
h2,
a,
svg {
  color: white;
  text-shadow: 1px 1px 5px black;
}

svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}

button {
  text-shadow: 1px 1px 1px black;
}

input[type='file'] {
  display: none;
}
