h3,
h4,
h1,
h2,
a,
svg {
  color: white;
  text-shadow: 1px 1px 5px black;
}

svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}

button {
  font-family: var(--base-font-family);
  text-shadow: 1px 1px 1px black;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 5px 5px;

  &:focus {
    outline: 1px solid black;
  }

  &::-webkit-search-cancel-button {
    cursor: pointer;
  }

  &::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  &[type='file'] {
    display: none;
  }
}
