h3,
h4,
h1,
h2,
a,
svg {
  color: white;
  text-shadow: 1px 1px 5px black;
}

svg:not(.preloaderSvg) {
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}

button {
  text-shadow: 1px 1px 1px black;
}

.btn {
  padding: 10px;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: var(--base-color);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.2s;

  &:hover {
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  }
}

input[type='file'] {
  display: none;
}
