.vtdTreeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  h3,
  h4 {
    margin: 10px;
  }

  svg {
    margin-top: 5px;
    transition: 0.2s;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}
