.tableWrapper {
  --cell-border: 1px solid black;

  position: relative;
  border-spacing: 0;

  td {
    padding: 0;
  }

  td,
  th {
    text-align: center;
    text-overflow: ellipsis;
    border-right: var(--cell-border);
    border-bottom: var(--cell-border);

    &:first-of-type {
      border-left: var(--cell-border);
    }
  }
}
