.pipelineTable {
  table {
    position: relative;
    border-spacing: 0;

    --cell-border: 1px solid black;

    td {
      padding: 0;
    }

    td,
    th {
      text-align: center;
      border-bottom: var(--cell-border);
      border-right: var(--cell-border);
      text-overflow: ellipsis;

      &:first-of-type {
        border-left: var(--cell-border);
      }
    }
  }
}
