.vtdManagerForm {
  --margin-button: 10px;
  --button-width: 150px;
  --input-width: calc(3 * var(--button-width) + 2 * var(--margin-button));

  h2 {
    margin: var(--margin-button) 0;
  }

  input {
    border: 1px solid black;
  }
}
