@import './styles/vars';
@import './styles/ui';

body {
  min-width: 800px;
  margin: 0;
  font-family: var(--base-font-family);
  background-color: #92c9ffc3;

  * {
    box-sizing: border-box;
  }
}
