@import './styles/vars';
@import './styles/ui';

body {
  margin: 0;
  font-family: var(--base-font-family);
  background-color: #92c9ffc3;
  min-width: 800px;

  * {
    box-sizing: border-box;
  }
}
