.pipelineTable {
  .virtualScroll {
    overflow: auto;
    margin: 0 auto;

    .virtualScrollContent {
      overflow: hidden;
      background-color: white;

      table {
        position: relative;
        border-spacing: 0;

        --cell-border: 1px solid black;

        td,
        th {
          padding: 0;
          text-align: center;
          border-bottom: var(--cell-border);
          border-right: var(--cell-border);
          text-overflow: ellipsis;

          &:first-of-type {
            border-left: var(--cell-border);
          }
        }

        td {
          overflow: hidden;
          white-space: nowrap;

          &.clickable {
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              color: white;
              text-shadow: 1px 1px 1px black;
              background-color: var(--base-color);
            }
          }
        }

        th {
          border-top: var(--cell-border);
          padding: 10px;
        }
      }
    }
  }

  svg {
    color: black;
  }

  button {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: none;
    }

    &:disabled {
      cursor: initial;
      background-color: rgba(0, 0, 0, 0);
      svg {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      box-shadow: none;

      svg {
        color: white;
      }
    }
  }
}
