.uniqueRowValue {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3px 10px;
  width: fit-content;
  min-width: 100px;
  cursor: pointer;

  span {
    margin-left: 10px;
    white-space: nowrap;
  }
}
