.maxCountUniqueRowsValues {
  padding: 10px 0;
  border-bottom: 1px solid black;
  color: rgba(255, 0, 0, 0.9);
}

.selectAllWrapper,
.selectAddToCheckedUniqueRowsValues {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3px 10px;
  width: fit-content;
  cursor: pointer;

  span {
    margin-left: 10px;
    white-space: nowrap;
  }

  .isSomeCheckedRowsValues {
    $isSomeCheckedRowsWidth: 12px;

    position: absolute;
    top: $isSomeCheckedRowsWidth / 2;
    left: $isSomeCheckedRowsWidth / 2;
    width: $isSomeCheckedRowsWidth;
    height: $isSomeCheckedRowsWidth;
    background-color: black;
  }
}

.selectAddToCheckedUniqueRowsValues {
  margin-top: 6px;
  span {
    font-weight: initial;
  }
}

.uniqueRowsValues {
  $divHeight: 30px;

  overflow: auto;
  height: $divHeight * 10 - 12px;

  .uniqueRowsValuesContent {
    overflow: hidden;
    width: fit-content;

    .uniqueRowsValuesOnDisplay {
      position: relative;
      div {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0 10px;
        height: $divHeight;
        width: fit-content;
        cursor: pointer;

        span {
          margin-left: 10px;
          white-space: nowrap;

          & {
            font-weight: normal;
          }
        }
      }
    }
  }
}

.apply {
  margin: 5px auto;
  width: 20%;
  box-shadow: 1px 1px 3px black;
  text-shadow: none;
  font-weight: bold;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
}
