.maxCountUniqueRowsValues {
  padding: 10px 0;
  border-bottom: 1px solid black;
  color: rgba(255, 0, 0, 0.9);
}

.selectAllWrapper,
.selectAddToCheckedUniqueRowsValues {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3px 10px;
  width: fit-content;
  cursor: pointer;

  span {
    margin-left: 10px;
    white-space: nowrap;
  }

  .isSomeCheckedRowsValues {
    --is-some-checked-rows-width: 12px;

    position: absolute;
    top: calc(var(--is-some-checked-rows-width) / 2);
    left: calc(var(--is-some-checked-rows-width) / 2);
    width: calc(var(--is-some-checked-rows-width));
    height: calc(var(--is-some-checked-rows-width));
    background-color: black;
  }
}

.selectAddToCheckedUniqueRowsValues {
  margin-top: 6px;
  span {
    font-weight: initial;
  }
}

.uniqueRowsValues {
  --div-height: 30px;
  --count-unique-rows-values: 10;

  overflow: auto;
  height: calc(-12px + var(--div-height) * var(--count-unique-rows-values));

  .uniqueRowsValuesContent {
    overflow: hidden;
    width: fit-content;

    .uniqueRowsValuesOnDisplay {
      position: relative;
      div {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0 10px;
        height: var(--div-height);
        width: fit-content;
        cursor: pointer;

        span {
          margin-left: 10px;
          white-space: nowrap;

          & {
            font-weight: normal;
          }
        }
      }
    }
  }
}

.apply {
  margin: 5px auto;
  width: 20%;
  box-shadow: 1px 1px 3px black;
  text-shadow: none;
  font-weight: bold;
  border-radius: 5px !important;

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: none;
    transition: none;
  }
}
