th {
  --sort-svg-size: 20px;

  position: relative;
  font-weight: bold;
  background-color: #d9d9d9;
  z-index: 1;
  overflow-wrap: break-word;

  &.showExtendedFilter {
    z-index: 2;
  }

  & > span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .Mui-disabled svg {
    color: grey;
  }

  .changeSizeTool,
  .manageColumnButtons > button {
    position: absolute;
  }

  .changeSizeTool {
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    cursor: col-resize;
  }

  .manageColumnButtons > button {
    top: 0;
    opacity: 0.2;
    padding: 2px;

    svg {
      width: var(--sort-svg-size);
      height: var(--sort-svg-size);
    }

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  button.extendedFilterColumn {
    left: 0;
  }

  button.hideColumn {
    right: 0;
  }

  button.sortColumn {
    left: calc(50% - var(--sort-svg-size) / 2);
  }
}
