.sortColumnButton {
  left: calc(50% - var(--sort-svg-size) / 2);
  padding: 2px 0;

  &.upSortColumn {
    transform: rotate(180deg);
  }

  &.isSortedColumn {
    opacity: 1;

    svg {
      color: red;
    }
  }
}
