.extendedFilterPanel {
  position: relative;

  .offExtendedFilter {
    position: absolute;
    right: 10px;
  }

  .searchTypes,
  .searchInputs {
    display: flex;
  }

  .searchTypes {
    justify-content: center;

    button:first-of-type {
      margin-right: 10px;
    }
  }

  .filterInputs {
    margin-top: 20px;
    justify-content: center;

    button {
      margin-left: 5px;
    }

    input {
      padding: 10px;
      font-size: 1rem;
      border: none;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;

      &:focus {
        outline: 1px solid black;
      }

      &::-webkit-search-cancel-button {
        cursor: pointer;
      }
    }

    .searchInput,
    .rangeInputs > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .searchInput svg {
      font-size: 1.2rem;
    }

    .rangeInputs {
      .fromInput {
        margin-bottom: 10px;
      }
    }
  }

  .uniqueRowsValuesWrapper {
    margin-top: 20px;
    border-top: 1px solid black;

    .noResults {
      padding: 10px;
    }
  }

  .apply {
    margin: 5px auto;
    width: 20%;
    box-shadow: 1px 1px 3px black;
    text-shadow: none;
    font-weight: bold;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;

    &:disabled {
      background-color: rgba(0, 0, 0, 0.1) !important;
      box-shadow: none;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
    }
  }
}
