.vtdForm {
  user-select: none;

  .virtualScroll {
    height: calc(100vh - 100px - 86px);
    overflow: auto;
  }

  .MuiPaper-root {
    overflow: hidden;

    table {
      position: relative;
      border-spacing: 0;
      border-collapse: initial;
      width: auto;

      svg {
        color: black;
      }

      td,
      th {
        padding: 0;
        text-align: center;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      th {
        overflow-wrap: break-word;

        span {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      td {
        white-space: nowrap;
      }

      .MuiButton-root {
        color: black;
        font-weight: bold;
      }

      thead {
        th {
          position: relative;
          font-weight: bold;
          background-color: #d9d9d9;
          z-index: 1;
        }

        .Mui-disabled svg {
          color: grey;
        }
      }
    }
  }
}
