.modalWindows {
  position: fixed;
  left: 50px;
  top: 20px;
  max-height: 70vh;
  padding: 10px;
  overflow: hidden;
  z-index: 100;

  div {
    margin-top: 10px;
    padding: 10px;
    width: 250px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px black;
    animation: showModalWindow 5s;

    &.error {
      background-color: rgba(214, 0, 0, 0.9);
    }
    &.success {
      background-color: rgba(0, 214, 0, 0.9);
    }
  }
}

@keyframes showModalWindow {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  80% {
    opacity: 1;
  }
}
