.modalWindows {
  position: fixed;
  z-index: 100;
  top: 20px;
  left: 50px;

  overflow: hidden;

  padding: 10px;

  div {
    width: 250px;
    margin-top: 10px;
    padding: 10px;

    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    overflow-wrap: break-word;

    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 50%);

    animation: show-modal-window 5s;

    &.error {
      background-color: rgb(214 0 0 / 90%);
    }

    &.success {
      background-color: rgb(0 214 0 / 90%);
    }
  }
}

@keyframes show-modal-window {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  80% {
    opacity: 1;
  }
}
