body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #92c9ffc3;
  min-width: 800px;

  h3,
  h4,
  h1,
  a,
  svg {
    color: white;
    text-shadow: 1px 1px 5px black;
  }

  svg:not(.preloaderSvg) {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
  }

  button {
    text-shadow: 1px 1px 1px black;
  }

  .btn {
    padding: 10px;
    font-size: 0.875rem;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #1976d2;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

    &:hover {
      box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
    }

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  input[type='file'] {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
